<header class="header mx-4 mt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 text-md-right text-center">
        <img src="../../assets/images/projects.png" alt="Header Image">
      </div>
      <div class="col-md-7 col-lg-8 d-flex align-items-center justify-content-center">
        <p class="header__content text-center mb-0">Our environmental projects are providing many environmental benefits around the world.</p>
      </div>
    </div>
  </div>
</header>
